[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/.vim/bundle/vim-openscad"]
	path = home/.vim/bundle/vim-openscad
	url = git://github.com/sirtaj/vim-openscad.git
[submodule "home/.vim/bundle/vim-supertab"]
	path = home/.vim/bundle/vim-supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "home/.vim/bundle/rubycomplete"]
	path = home/.vim/bundle/rubycomplete
	url = https://github.com/vim-scripts/rubycomplete.vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/focus"]
	path = home/.vim/bundle/focus
	url = https://github.com/merlinrebrovic/focus.vim.git
[submodule "home/.vim/bundle/unite"]
	path = home/.vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
