[user]
	email = wlm2117@columbia.edu
	name = William Meng
[color]
	ui = auto
[credential]
	helper = cache

[alias]
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
	unstage = reset HEAD --
	graph = log --graph --oneline --decorate
	st = status --short
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = current
[core]
	excludesfile = /home/wlmeng/.gitignore_global
	editor = env TERM=screen-256color vim -f
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
