[user]
	email = wlmeng11@gmail.com
	name = William Meng
[color]
	ui = auto
[credential]
	helper = cache

[alias]
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
	unstage = reset HEAD --
	graph = log --graph --oneline --decorate
[diff]
	tool = gvimdiff
[merge]
	tool = gvimdiff
[push]
	default = current
[core]
	excludesfile = /home/wlmeng/.gitignore_global
	editor = gvim -f
